{% extends 'layout.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2">
            <h1 class="hometitle text-center">Voyagez Malin !</h1>
            </div>
                    <div class="col-8 offset-2">
                       <p class="hometext text-center">Ce n'est pas parce qu'on est en période de confinement
                           qu'il faut s'empêcher de voyager, <br>au contraire. Et Voyager Malin est là pour t'aider !
                           Si tu as entre 7 et 11 ans, tu peux <br>te lancer dans l'une de nos trois aventures... Avec
                           une surprise à la clé !
                       </p>
                    </div>
            <div class="offset-4 col-4 formulaire">
    <form action="/game/index" method="POST">
        <div class="form-group text-center">
            <i class="fa iconhome fa-child"></i><i class="fa iconhome fa-map"></i><i class="fa iconhome fa-compass"></i><i class="fa iconhome fa-plane"></i>
            <label for="pseudo"></label>
            <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Écris ici ton prénom" required>

        </div>
        <button type="submit" class="btn btn-success homebutton">Commencer l'aventure <i class="fa homeimage fa-globe"></i> </button>
    </form>
            </div>
        </div>
    </div>
{% endblock %}
