{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-4 mt-1 game-title">
                <h1>Troisième jeu</h1>
                <h2>Question 3/5</h2>
            </div>
            <div class="col-6 offset-3 game-card">
                <div class="text-center m-2 pt-2">
                    <p>Quel est le principal ennemi de l'écureuil roux ?</p>
                </div>
                <div class="row text-center d-flex justify-content-center">
                    <div>
                        <p><i class="fa fa-star icones-reponse"></i>  L'ours</p>
                    </div>
                    <div>
                        <p><i class="fa fa-circle icones-reponse ml-5"></i>  La marte</p>
                    </div>
                </div>
                <div class="row text-center d-flex justify-content-center">
                    <div>
                        <p><i class="fa fa-plane icones-reponse"></i>  Le cobra</p>
                    </div>
                    <div>
                        <p><i class="fa fa-square icones-reponse ml-5"></i>  Le paresseux</p>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <p>Cliques sur la bonne image !</p>
                </div>
                <div class="icones-jeu text-center pb-2">
                    <a href="" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fa fa-star"></i>
                    </a>
                    <a href="" class="pl-5" data-toggle="modal" data-target="#goodanswer">
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="" class="pl-5" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fa fa-plane"></i>
                    </a>
                    <a href="" class="pl-5" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fa fa-square"></i>
                    </a>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Mauvaise réponse...</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Retentes ta chance !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="goodanswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Bonne réponse !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>En effet, La Marte est un petit animal carnivore qui ressemble à une fouine.</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" href="/game/gamethree_4" class="btn btn-warning">Question suivante</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
