{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-4 ml-5 description">
                <div class="">
                    <h1><i class="fa iconfinal fa-star"></i> Le pygargue à tête blanche</h1>
                    <p>Le pygargue à tête blanche, aussi appelé aigle américain ou aigle à tête blanche, est un grand rapace d'Amérique du Nord.</p>
                    <p>Facile à reconnaître avec sa queue et sa tête blanches,il est l'emblème des États-Unis. <br>Il vit environ 20 ans.</p>
                    <p>Le pygargue est un excellent chasseur aérien. Il se nourrit principalement de poisson, mais il peut lui arriver de chasser de petites comme de grandes proies lorsqu'il se trouve à l'intérieur des terres (lapins, oiseaux, pingouins...). </p>
                </div>
            </div>
            <div class="col-7 ml-4">
                    <iframe class="video" src="https://www.youtube.com/embed/UmclL6funN8?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
