{% block header %}
    <div class="container header-nav">
        <div class="row">
            <div>
                <a class="button-card" href="/Game/index">Menu principal</a>
            </div>
            <div>
                <p>Bonjour {{ sessions.pseudo }}</p>
            </div>
        </div>
    </div>
{% endblock %}