body {
    background-color: #557a24;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    font-family: 'Signika Negative', sans-serif;
}

/* START TIMO */

.formulaire {
    border: black solid 1px;
    padding: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #bed4bc;
    border-radius: 6% 6%;
    box-shadow: 6px 6px 4px black;
}

.formulaire label {
    font-size: 2rem;
}

.hometitle {
    font-size: 10rem;
    font-family: 'Mouse Memoirs', sans-serif;
    text-shadow: 2px 2px 1px darkgrey;
}

.hometext {
    font-size: 1.5rem;
    margin: 2rem 0 3rem 0;
}

.homebutton {
    width: 100%;
    font-size: 1.5rem;
}

.homeimage {
    margin-left: 20px;
    font-size: 1.6rem;
    color: white;
}

.iconhome {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.iconfinal {
    color: darkgoldenrod;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.description h1 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.description {
    font-size: 1.3rem;
    border: black solid 1px;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 4px black;
}
/* END TIMO */

/* START ROLLS */
.card-menu {
    margin-top: 3rem;
}

.col-10 {
    border-radius: 10px;
}

.card-menu img {
    border: solid black 2px;
    border-radius: 10px;
}

.card-menu h4 {
    font-family: 'Mouse Memoirs', sans-serif;
}

.card-deck .card{
    /*margin-left: 40px;
    margin-right: 40px;*/
}

.card-text {
    font-family: 'Signika Negative', sans-serif;
}

.card-img-top {
    height: 200px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.card {
    width: 350px;
    font-family: 'Signika Negative', sans-serif;
    background-color: #bed4bc;
}

a.button-card {
    background: #660930;
    border:1px solid white;
    padding: 0 1rem 0 1rem;
    font-size:1.5rem;
    color: #ffffff;
    box-shadow:4px 4px 0px 0px #c3bebe;
    font-weight:700;
    left:0;
    top:0;
    display: flex;
}

a.button-card:hover {
    left:4px;
    top:4px;
    box-shadow: #000000;
}

/* END ROLLS */

/* START GREEN-O */

.game-title {
    font-family: 'Mouse Memoirs', sans-serif;
    text-shadow: 2px 2px 1px darkgrey;
}

.game-title h1 {
    font-size: 4rem;
}

.game-card {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bed4bc;
    border-radius: 6% 6%;
    box-shadow: 6px 6px 4px black;
}

.icones-reponse {
    color: #557a24;
}

.icones-jeu {
    font-size: 3rem;
}

.icones-jeu a {
    color: #557a24;
}

.icones-jeu a:hover {
    text-decoration: none;
    color: #db2f2f;
}

.modal-content {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.6rem;
    border-radius: 6% 6%;
    background-color: #bed4bc;
}

.modal-footer .btn {
    font-size: 1.5rem;
}

.modal h5 {
    font-size: 1.8rem;
}

.header-nav {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

.header-nav p {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: whitesmoke;
}

/* END GREEN-O */
